server {
    listen 80;
    server_name {{ inventory_hostname }};

    root /var/www/{{ project_name }}/current/api/public;

    error_log /var/log/nginx/{{ project_name }}.error.log;
    access_log /var/log/nginx/{{ project_name }}.access.log;

    # index build/index.html
    gzip            on;
    gzip_min_length 1000;
    gzip_comp_level 9;
    gzip_proxied    any;
    gzip_types      application/javascript application/x-javascript application/json text/css;

    location /api {
        # try to serve file directly, fallback to index.php
        try_files $uri /index.php$is_args$args;
    }

    location / {
        try_files $uri /build/index.html;
    }

    location @rewrite {
        rewrite ^/?(.*)$ /index.php/$1 last;
    }

    location ~ ^/index.php {
      fastcgi_index $1.php;
      fastcgi_pass unix:/var/run/php/php-fpm.sock;
      fastcgi_param  SCRIPT_FILENAME  $realpath_root$fastcgi_script_name;
      fastcgi_param DOCUMENT_ROOT $realpath_root;
      fastcgi_buffer_size       128k;
      fastcgi_buffers           4 256k;
      fastcgi_busy_buffers_size 256k;
      # To determinate if the request is HTTP or HTTPS
      fastcgi_param HTTPS $https if_not_empty;
      include fastcgi_params;
    }

    location ~ ^/static/(.*) {
      return 301 /build/static/$1;
    }

    location ~ ^\/(.[^\/]*\.(json|ico|js))$ {
      rewrite ^\/(.[^\/]*\.(json|ico|js))$ /build/$1 last;
    }

    location ~* \.(css|txt|xml|js|gif|jpe?g|png|ico)$ {
        add_header Cache-Control "public";
        expires 1y;
        log_not_found off;
    }
}
